params {
    gfa = null
    fastq = null
    GraphAligner_options="--discard-cigar --seeds-mxm-length 30 --seeds-mem-count 10000 --bandwidth 15 --multimap-score-fraction 0.999 --precise-clipping 0.85 --min-alignment-score 5000 --clip-ambiguous-ends 100 --overlap-incompatible-cutoff 0.15 --max-trace-count 5"
    min_main_edge_length=1000000
    telomotif = 'TTAGGG'
    minMotifLength = 60
    outdir = "results"

}